Repository IAmNatch/eslint-plugin-import-extended: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn dedupe, prettier --parser typescript --write, eslint -c .eslintrc.js --ext .ts --max-warnings 0

chore: update yarn.lock
  yarn.lock
Due: yarn dedupe

fix: rule name was incorrectly configured
  src/utils/createRule.ts
Due: prettier --parser typescript --write, eslint -c .eslintrc.js --ext .ts --max-warnings 0

chore: nebulous change
  .lintstagedrc
Due: none

fix: fix yarn.lock generated with wrong package manager
  yarn.lock
Due: yarn dedupe

Notes added by 'git notes add'
  54c58cc9398325a0f99cf0f36be01fe6fc4f7781
Due: none

chore: add license
  LICENSE.MD
  package.json
Due: none

chore: update semantic release
  package.json
Due: none

chore: remove unused snippet
  .vscode/testInit.ts.code-snippets
  yarn.lock
Due: yarn dedupe

test: add tests for external modules
  src/fixtures/no-internal-modules/src/common/some-common-file.ts
  src/rules/no-internal-from-external-modules/no-internal-from-external-modules.test.ts
Due: prettier --parser typescript --write, eslint -c .eslintrc.js --ext .ts --max-warnings 0

fix: resolve rule naming inconsistencies
  README.md
  src/rules/index.ts
Due: prettier --parser typescript --write, eslint -c .eslintrc.js --ext .ts --max-warnings 0

Notes added by 'git notes add'
  95ac467320907f48a929fa1b68ec054f3dbaa01d
Due: none

feat: add support for multiple roots
  README.md
  src/rules/no-internal-from-external-modules/no-internal-from-external-modules.test.ts
  src/rules/no-internal-from-external-modules/no-internal-from-external-modules.ts
Due: prettier --parser typescript --write, eslint -c .eslintrc.js --ext .ts --max-warnings 0

Notes added by 'git notes add'
  f3becb3a8a9fbaf7eedf30ac1f85cc96e0450413
Due: none

Path conditions:
  yarn dedupe: any of: yarn.lock
  prettier --parser typescript --write: any of: *.ts
  eslint -c .eslintrc.js --ext .ts --max-warnings 0: any of: *.ts
